{{! Thêm chuyến bay }}
<div id="add-flight-form">
  <form>
    <div class='title-header-form'>
      <h1>Thêm chuyến bay</h1>
      <span class='form-close' id="close-add-flight-form"></span>
    </div>

    <div class="container-group-2">
      <div>
        <label class="label-input" for='flight-no'>Mã chuyến bay:</label>
        <input type='text' id='flight-no' name='flight-no' required />
      </div>

      <div>
        <label class="label-input" for='flight-date'>Ngày bay:</label>
        <input type='date' id='flight-date' name='flight-date' required />
      </div>
    </div>

    <div class="container-group-2">
      <div>
        <label class="label-input" for='departure-time'>Thời gian đi:</label>
        <input type='time' id='departure-time' name='departure-time' required />
      </div>
      
      <div>
        <label class="label-input" for='arrival-time'>Thời gian đến:</label>
        <input type='time' id='arrival-time' name='arrival-time' required />
      </div>
    </div>

     <div class="container-group-2">
      <div>
        <label class="label-input" for='numSeat'>Số ghế:</label>
        <input type='number' id='numSeat' name='numSeat' required />
      </div>
      
      <div>
        <label class="label-input" for='ticketClass'>Hạng vé:</label>
        <input type='text' id='ticketClass' name='ticketClass' required />
      </div>
    </div>

    <div class="container-group-2">
      <div>
        <label class="label-input" for='departure'>Điểm khởi hành:</label>
        <input type='text' id='departure' name='departure' required />
      </div>
      
      <div>
        <label class="label-input" for='destination'>Điểm đến:</label>
        <input type='text' id='destination' name='destination' required />
      </div>
    </div>
    <button type='submit' class='btn-submit-add'>Thêm</button>
  </form>
</div>

{{! Sửa chuyến bay }}
<div id="update-flight-form" style="display:none">
  <form>
    <div class='title-header-form'>
      <h1>Sửa chuyến bay</h1>
      <span class='form-close' id="close-update-flight-form"></span>
    </div>

    <div class="container-group-2">
      <div>
        <label class="label-input" for='flight-no'>Mã chuyến bay:</label>
        <input type='text' id='update-flight-no' name='update-flight-no' required />
      </div>

      <div>
        <label class="label-input" for='flight-date'>Ngày bay:</label>
        <input type='date' id='update-flight-date' name='update-flight-date' required />
      </div>
    </div>

    <div class="container-group-2">
      <div>
        <label class="label-input" for='departure-time'>Thời gian đi:</label>
        <input type='time' id='update-departure-time' name='update-departure-time' required />
      </div>
      
      <div>
        <label class="label-input" for='arrival-time'>Thời gian đến:</label>
        <input type='time' id='update-arrival-time' name='update-arrival-time' required />
      </div>
    </div>

    <div class="container-group-2">
      <div>
        <label class="label-input" for='numSeat'>Số ghế:</label>
        <input type='number' id='update-numSeat' name='update-numSeat' required />
      </div>
      
      <div>
        <label class="label-input" for='ticketClass'>Hạng vé:</label>
        <input type='text' id='update-ticketClass' name='update-ticketClass' required />
      </div>
    </div>

    <div class="container-group-2">
      <div>
        <label class="label-input" for='departure'>Điểm khởi hành:</label>
        <input type='text' id='update-departure' name='update-departure' required />
      </div>
      
      <div>
        <label class="label-input" for='destination'>Điểm đến:</label>
        <input type='text' id='update-destination' name='update-destination' required />
      </div>
    </div>
    <button type='submit' class='btn-submit-update'>Sửa</button>
  </form>
</div>