<div id='customer' class='tabs' style='display: none;'>
  <main>
    <div class='title-container'>
      <h2>Quản lý khách hàng</h2>
    </div>
    <table class ='airlines_table' id='user_table'>
      <thead>
        <tr>
          <th>STT</th>
          <th>Tên người dùng</th>
          <th>Email</th>
          <th>Địa chỉ</th>
          <th>Số điện thoại</th>
          <th>Giới tính</th>
          <th>Thao tác</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
    <div id='pagination-customer-container'>
      <ul id='pagination-customer-list'></ul>
    </div>
  </main>
</div>