<div id='customer' class='tabs' style='display: none;'>
  <main>
    <div class='title-container'>
      <h2>Quản lý khách hàng</h2>
    </div>
    <table class="airlines_table">
      <tr>
        <th>STT</th>
        <th>Username</th>
        <th>Email</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Gender</th>
        <th>Action</th>
      </tr>
      <tr>
        <td>1</td>
        <td>Thảo Ngân</td>
        <td>ngan@gmail.com</td>
        <td>Hồ Chí Minh</td>
        <td>012233678</td>
        <td>Nữ</td>
        <td>
          <button class='btn-delete' id="btn-delete-customer"><span class='fa fa-trash'></span></button>
        </td>
      </tr>
      <tr>
        <td>1</td>
        <td>Thảo Ngân</td>
        <td>ngan@gmail.com</td>
        <td>Hồ Chí Minh</td>
        <td>012233678</td>
        <td>Nữ</td>
        <td>
          <button class='btn-delete' id="btn-delete-customer"><span class='fa fa-trash'></span></button>
        </td>
      </tr>
    </table>
  </main>
</div>