<div id='flight' class='tabs' style='display: none;'>
  <main>
    <div class='title-container'>
      <h2>Quản lý chuyến bay</h2>
      <button class='btn-add' onclick='showAddFlightForm()'>Thêm chuyến bay</button>
    </div>
    <table>
      <tr style='background-color: #047683;'>
        <th>STT</th>
        <th>Chuyến bay</th>
        <th>Ngày bay</th>
        <th>Thời gian</th>
        <th>Địa điểm đi</th>
        <th>Địa điểm đến</th>
        <th>Action</th>
      </tr>
      <tr>
        <td>1</td>
        <td>VN6002</td>
        <td>16/03/2023</td>
        <td>6:30 - 9:05</td>
        <td>Hồ Chí Minh</td>
        <td>Hà Nội</td>
        <td>
          <button class='btn-view' onclick='showFlightDetails()'><span
              class='fa fa-eye'
            ></span></button>
          <button class='btn-edit' onclick='showEditDialog()'><span
              class='fa fa-pencil'
            ></span></button>
          <button class='btn-delete'><span class='fa fa-trash'></span></button>
        </td>
      </tr>
      <tr>
        <td>1</td>
        <td>VN6002</td>
        <td>16/03/2023</td>
        <td>6:30 - 9:05</td>
        <td>Hồ Chí Minh</td>
        <td>Hà Nội</td>
        <td>
          <button class='btn-view'><span class='fa fa-eye'></span></button>
          <button class='btn-edit'><span class='fa fa-pencil'></span></button>
          <button class='btn-delete'><span class='fa fa-trash'></span></button>
        </td>
      </tr>
    </table>
  </main>
</div>

