<div id='flight' class='tabs' style='display: none;'>
  <main>
    <div class='title-container'>
      <h2 class="title-table">Quản lý chuyến bay</h2>
      <button class='btn-add' id='btn-add-flight'>Thêm chuyến bay</button>
    </div>
    <table class ='airlines_table' id="flight_table">
      <thead>
        <tr>
          <th>STT</th>
          <th>Thời gian đi</th>
          <th>Thời gian đến</th>
          <th>Địa điểm đi</th>
          <th>Địa điểm đến</th>
          <th>Số ghế</th>
          <th>Giá</th>
          <th>Thao tác</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
    <div id='pagination-flight-container'>
      <ul id='pagination-flight-list'></ul>
    </div>
  </main>
</div>