
  <footer class="bg-dark text-center text-lg-start text-white mt-5">
    <div class="container p-4">
      <div class="row">
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h6 class="text-uppercase">về chúng tôi</h6>
          <ul class="list-unstyled mb-0">
            <li>
              <a href="aboutus" class="text-white">Tập đoàn</a>
            </li>
            <li>
              <a href="aboutus" class="text-white">Đội bay</a>
            </li>
            <li>
              <a href="aboutus" class="text-white">Cam kết với khách hàng</a>
            </li>
            <li>
              <a href="aboutus" class="text-white">Các điều kiện và điều khoản</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h6 class="text-uppercase">Sản phẩm</h6>

          <ul class="list-unstyled">
            <li>
              <i class="fa fa-ticket" aria-hidden="true"></i><a href="searchflight.html" class="text-white"> Vé máy
                bay</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h6 class="text-uppercase">Đối tác thanh toán</h6>
          <ul class="list-unstyled">
            <li>
              <div>
                VISA
                </a>
            </li>
            <li>
              <div>
                MASTERCARD
              </div>
            </li>
            <li>
              <div>
                MOMO
              </div>
            </li>
            <li>
              <div>
                ZALOPAY
              </div>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h6 class="text-uppercase">liên hệ</h6>
          <ul class="list-unstyled">
            <li>
              <p class="text-white"><i class="fa fa-phone" aria-hidden="true"></i> SDT: 0909.291.291</p>
            </li>
            <li>
              <p class="text-white"><i class="fa fa-location-arrow" aria-hidden="true"></i> Email: svoairlines@gmail.com
              </p>
            </li>
            <li>
              <p class="text-white"><i class="fa fa-map-marker" aria-hidden="true"></i> Địa chỉ: Quận 7, TP. Hồ Chí Minh
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2022 Copyright:
      <a class="text-white" href="home">svoairlines.com.vn</a>
    </div>
  </footer>