<div id='location' class='tabs' style='display: none;'>
  <main>
    <div class='title-container'>
      <h2>Quản lý địa điểm</h2>
      <button class='btn-add' id="btn-add-location">Thêm địa điểm</button>
    </div>
    <table class ='airlines_table'></table>
    <div id="pagination"></div>
  </main>
</div>