<div id='statistical' class='tabs' style='display: none;'>
  <main>
    <div class='title-container'>
      <h2>Thống kê</h2>
    </div>
    <table class="airlines_table">
      <tr>
        <th>STT</th>
        <th>Số lượng vé thường</th>
        <th>Giá tiền vé thường</th>
        <th>Số lượng vẽ thương gia</th>
        <th>Giá tiền vé thương gia</th>
        <th>Thống kê</th>
        <th>Action</th>
      </tr>
      <tr>
        <td>1</td>
        <td>10</td>
        <td>5000000</td>
        <td>10</td>
        <td>10000000</td>
        <td>150000000</td>
        <td>
          <button class='btn-view'><span class='fa fa-eye'></span></button>
          <button class='btn-edit'><span class='fa fa-pencil'></span></button>
          <button class='btn-delete'><span class='fa fa-trash'></span></button>
        </td>
      </tr>
      <tr>
        <td>1</td>
        <td>10</td>
        <td>5000000</td>
        <td>10</td>
        <td>10000000</td>
        <td>150000000</td>
        <td>
          <button class='btn-view'><span class='fa fa-eye'></span></button>
          <button class='btn-edit'><span class='fa fa-pencil'></span></button>
          <button class='btn-delete'><span class='fa fa-trash'></span></button>
        </td>
      </tr>
    </table>
  </main>
</div>