<div id='ticket' class='tabs' style='display: none;'>
  <main>
    <div class='title-container'>
      <h2>Quản lý lịch sử đặt vé</h2>
    </div>
    <table class="airlines_table">
      <tr>
        <th>ID</th>
        <th>Mã khách hàng</th>
        <th>Mã chuyến bay</th>
        <th>Loại vé</th>
        <th>Mã ghế</th>
        <th>Giá</th>
        <th>Action</th>
      </tr>
      <tr>
        <td>1</td>
        <td>KH01</td>
        <td>VN6002</td>
        <td>Thương gia</td>
        <td>B01</td>
        <td>1000000</td>
        <td>
          <button class='btn-delete' id="btn-delete-ticket"><span class='fa fa-trash'></span></button>
        </td>
      </tr>
      <tr>
        <td>1</td>
        <td>KH01</td>
        <td>VN6002</td>
        <td>Thương gia</td>
        <td>B01</td>
        <td>1000000</td>
        <td>
          <button class='btn-delete' id="btn-delete-ticket"><span class='fa fa-trash'></span></button>
        </td>
      </tr>
    </table>
  </main>
</div>