<div id='ticket' class='tabs' style='display: none;'>
  <main>
    <div class='title-container'>
      <h2>Quản lý lịch sử đặt vé</h2>
    </div>
    <table class ='airlines_table' id="ticket_table">
      <thead>
        <tr>
          <th>STT</th>
          <th>Mã khách hàng</th>
          <th>Mã chuyến bay</th>
          <th>Loại vé</th>
          <th>Loại hành lý</th>
          <th>Mã ghế</th>
          <th>Giá</th>
          <th>Thao tác</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
    <div id='pagination-ticket-container'>
      <ul id='pagination-ticket-list'></ul>
    </div>
  </main>
</div>