<div id='ticket' class='tabs' style='display: none;'>
  <main>
    <div class='title-container'>
      <h2>Quản lý lịch sử đặt vé</h2>
    </div>
    <table class="airlines_table">
      <tr>
        <th>STT</th>
        <th>Khách hàng</th>
        <th>Loại vé</th>
        <th>Giá</th>
        <th>Loại máy bay</th>
        <th>Chổ ngồi</th>
        <th>Địa điểm đi</th>
        <th>Địa điểm đến</th>
        <th>Action</th>
      </tr>
      <tr>
        <td>1</td>
        <td>Thảo Ngân</td>
        <td>Thương gia</td>
        <td>1000000</td>
        <td>B52</td>
        <td>B01</td>
        <td>Hồ Chí Minh</td>
        <td>Hà Nội</td>
        <td>
          <button class='btn-view'><span class='fa fa-eye'></span></button>
          <button class='btn-edit'><span class='fa fa-pencil'></span></button>
          <button class='btn-delete'><span class='fa fa-trash'></span></button>
        </td>
      </tr>
      <tr>
        <td>1</td>
        <td>Thảo Ngân</td>
        <td>Thương gia</td>
        <td>1000000</td>
        <td>B52</td>
        <td>B01</td>
        <td>Hồ Chí Minh</td>
        <td>Hà Nội</td>
        <td>
          <button class='btn-view'><span class='fa fa-eye'></span></button>
          <button class='btn-edit'><span class='fa fa-pencil'></span></button>
          <button class='btn-delete'><span class='fa fa-trash'></span></button>
        </td>
      </tr>
    </table>
  </main>
</div>