  <html>
    <head>
      <meta charset="utf-8">
      <title>About us</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css">
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </head>
    <style>
      .header{
          border-radius: 15px 15px 0px 0px;
          padding: 10px;
          background: #047683;
          color: #fff;
          width: 100%;
          display: flex;
          align-content: center;
          justify-content: center;
        }
        .navbar {
          background-color: #047683;
        }
        .nav-item {
          margin-right: 10px;
          font-size: 20px;
          font-weight: 500;
        }
        .navbar-brand {
          margin-left: 20px;
          font-size: 50px;
          font-style: italic;
          font-weight: bold;
        }
        .a1 {
          padding: 20px;

        }
        h1{
          color: #0097a8;
          font-size: 80px;
        }
        h3 {
          color: #0097a8;
          margin-top: 24px;
          margin-left: 5px;

        }
        p {
          margin-left: 10px;
          text-align: justify;
        }
        .border {
          border-color: #047683;
        }
        .card-header {
          background: #047683;
          color: white;
        }
        .submit {
          background-color:#047683;
          color: white;
          float: right;
        }
        .submit:hover {
          background-color:#0097a8;
          color: white;
        }
        .card {
          background-color: #F0F8FF;
          margin-top: 20px;
          margin-left: 100px;
          padding: 0px;
          width: 80%;
          height: 50%;
        }
      </style>
    <body>
      <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="home.html" style = "font-size: 30px;">SVO Airlines</a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="home.html"><i class="fa fa-home"></i> Trang chủ</a>
                </li>
                <li class="nav-item aria-current">
                  <a class="nav-link" href="search_flight.html"> Chuyến bay</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="history.html">Tra cứu</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="login.html"><i class="fa fa-user-o" aria-hidden="true"></i> Đăng nhập</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="help.html"> Trợ giúp</a>
                </li>
              </ul>
            </div>
        </div>
      </nav> 
      <img src="./images/svoairlines.png" alt="" width="100%">
      <div class = "container">
        <div class = "row">
          <div class = "col-lg-6 a1 mt-3">
            <div class = "row">
              <h1 class = "text-center">About us</h1>
              <p>​Sứ mệnh của SVO Airlines là mang tới vé máy bay giá rẻ để nhiều người được bay thường xuyên hơn, tới nhiều điểm đến hơn. Kể từ khi đi vào hoạt động tại Úc vào năm 2004, đến nay chúng tôi đã vận chuyển hơn 250 triệu lượt hành khách.</p>
              <p><b>Chúng tôi có mạng lưới giá rẻ lớn nhất Châu Á Thái Bình Dương. Các hãng hàng không mang thương hiệu SVO Airlines trong tập ​Chúng tôi có mạng lưới giá rẻ lớn nhất Châu Á Thái Bình Dương. Các hãng hàng không mang thương hiệu SVO Airlines trong tập đoàn đang thực hiện hơn 5,000 chuyến bay mỗi tuần đến hơn 85 điểm đến.</b></p>  
            </div>
          </div>
          <div class = "col-lg-6 mt-3 a1">
            <div class = "row">
              <div class="card">
                <div class="card-header">
                  <h5>Contact us</h5>
                  <span>You can send us comments by filling out this form.</span>
                </div>
                <div class="card-body">
                  <form>
                    <div class="form-group">
                      <label for="name"><b>Full Name:</b></label>
                      <input type="text" class="form-control" id="name" name = "name"  placeholder="Enter your full name">
                    </div>
                    <div class="email-group mt-2">
                      <label for="emai"><b>Email:</b></label>
                      <input type="email" class="form-control" id="email" name = "email" placeholder="Enter your email">
                    </div>
                    <div class="form-group mt-2 mb-4">
                      <label for="message"><b>Message:</b></label>
                      <textarea type="text" class="form-control" id="message" name = "message"  placeholder="Message here..." rows="4" cols="50"></textarea>
                    </div>
                  <a href="#" class="btn submit">Send</a>
                </div>
              </div>
            </div>  
          </div>
        </div>
        <div class = "row">
          <div class = "col-lg-6 a1 mt-3">
            <div class="row">
              <div class = "col-lg-2">
                <img class = "mx-auto" src="./images/company.png" alt="" width="80" height="80">
                </div>
                <div class = "col-lg-10">
                  <h3>Tập đoàn</h3>
                  <p>​Tập đoàn SVO bao gồm:
                    <ul>
                      <li>               <b>SVO Airlines Airways</b>  tại Úc và New Zealand (trực thuộc Tập đoàn Qantas).
                      </li>
                      <li>
                         <b>SVO Airlines Asia Airways</b>, đặt trụ sở tại Singapore và được quản lý bởi Newstar Holdings Pty Ltd, được sở hữu chính bởi Westbrook Investments Pte Ltd (51%), một công ty Singapore và Tập đoàn Qantas với 49% còn lại.
                      </li>
                      <li>      <b>SVO Airlines Japan</b>, là mối quan hệ hợp tác giữa Tập đoàn Qantas Group, Japan Airlines và Tokyo Century Corporation.</p>
                      </li>
                    </ul>
                </div>
            </div>
          </div>
          <div class = "col-lg-6 a1 mt-3">
            <div class = "row">
              <div class = "col-lg-2">
                <img class = "mx-auto" src="./images/fight team.png" alt="" width="80" height="80">
              </div>
              <div class = "col-lg-10">
                <h3>Đội bay</h3>
                <p>​Tập đoàn SVO Airlines là một hãng hàng không chú trọng đến giá trị và cung cấp giá vé rẻ tại Úc, New Zealand và khu vực Châu Á Thái Bình Dương.
                  Để biết về chúng tôi nhiều hơn cùng tìm hiểu về đội bay của chúng tôi. </p>
                  <ul>
                    <li>Máy bay Boeing 787 Dreamliner</li>
                    <li>Airbus A321neo (LR)</li>
                    <li>Airbus A320</li>
                    <li>Máy bay Airbus A321</li>
                  </ul>
              </div>
            </div> 
          </div>
        </div>
        <div class = "row">
          <div class = "col-lg-6 a1 mt-3">
            <div class="row">
              <div class = "col-lg-2">
                <img class = "mx-auto" src="./images/rules.png" alt="" width="80" height="80">
                </div>
                <div class = "col-lg-10">
                  <h3>Cam kết với khách hàng</h3>
                  <p>​SVO Airlines lập Cam kết với khách hàng để khách hàng biết đích xác họ có thể kỳ vọng những gì ở chúng tôi, và chúng tôi sẽ cố gắng trong mọi hành động để có được sự hài lòng cao nhất từ khách hàng.
                    <br><br>
                    Chúng tôi cam kết cung cấp cho khách hàng mức giá cạnh tranh, và đó là lý do vì sao nếu quý khách tìm thấy trên trang web của bên thứ ba đủ điều kiện một chuyến bay của hãng hàng không khác hoặc một chuyến bay của SVO Airlines có giá vé rẻ hơn giá vé trên svoairplines.com, chúng tôi sẽ giảm thêm 10% trên giá vé mà quý khách tìm được. Có áp dụng điều kiện.</p>
                </div>
            </div>
          </div>
          <div class = "col-lg-6 a1 mt-3">
            <div class = "row">
              <div class = "col-lg-2">
                <img class = "mx-auto" src="./images/commit.png" alt="" width="80" height="80">
                </div>
                <div class = "col-lg-10">
                  <h3>Các điều khoản và điều kiện</h3>
                  <p><b>Điều lệ vận chuyển</b>
                    <br>
                    Điều lệ vận chuyển là các quy tắc áp dụng cho chuyến bay của bạn trên SVO Airlines.
                    <br><br>
                  <b>Điều kiện giá vé của tập đoàn SVO Airlines</b>
                    <br>
                    Ngoài điều lệ vận chuyển, đây là những quy tắc áp dụng cho giá vé mà bạn đã đặt.ấy trên trang Quy định về giá vé.
                    <br><br>
                  <b>Điều kiện đặt vé và tour trọn gói</b>
                    <br>
                    Các điều kiện bổ sung được áp dụng đối với du khách trong việc đặt vé bao gồm tour trọn gói của SVO Airlines.
                    <br><br>
                  <b>Cam kết bảo mật</b>
                    <br>
                    Cam kết bảo mật của chúng tôi giải thích cách SVO Airlines bảo vệ sự riêng tư thông tin cá nhân của bạn theo luật riêng tư. Sẽ áp dụng cho bất kỳ thông tin cá nhân nào bạn cung cấp trong quá trình giao dịch với chúng tôi.
                    <br>
                    <br>
                  <b>Điều khoản sử dụng</b>
                    <br>
                    "Điều khoản sử dụng của tập đoàn SVO Airlines" điều chỉnh việc bạn sử dụng trang web của SVO Airlines và các trang liên kết.
                  </p>
                </div>
            </div> 
          </div>
        </div>
      </div> 
      <footer class="bg-dark text-center text-lg-start text-white mt-5">
        <div class="container p-4">
          <div class="row">
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
              <h6 class="text-uppercase">về chúng tôi</h6>
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="aboutus.html" class="text-white">Tập đoàn</a>
                </li>
                <li>
                  <a href="aboutus.html" class="text-white">Đội bay</a>
                </li>
                <li>
                  <a href="aboutus.html" class="text-white">Cam kết với khách hàng</a>
                </li>
                <li>
                  <a href="aboutus.html" class="text-white">Các điều kiện và điều khoản</a>
                </li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
              <h6 class="text-uppercase">Sản phẩm</h6>
    
              <ul class="list-unstyled">
                <li>
                  <i class="fa fa-ticket" aria-hidden="true"></i><a href="search_flight.html" class="text-white"> Vé máy bay</a>
                </li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
              <h6 class="text-uppercase">Đối tác thanh toán</h6>
              <ul class="list-unstyled">
                <li>
                    <div>
                      VISA
                  </a>
                </li>
                <li>
                    <div>
                      MASTERCARD
                    </div>
                </li>
                <li>
                    <div>
                      MOMO
                    </div>
                </li>
                <li>
                    <div>
                      ZALOPAY
                    </div>
                </li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
              <h6 class="text-uppercase">liên hệ</h6>    
              <ul class="list-unstyled">
                <li>
                  <p class="text-white"><i class="fa fa-phone" aria-hidden="true"></i> SDT: 0909.291.291</p>
                </li>
                <li>
                  <p class="text-white"><i class="fa fa-location-arrow" aria-hidden="true"></i> Email: svoairlines@gmail.com</p>
                </li>
                <li>
                  <p class="text-white"><i class="fa fa-map-marker" aria-hidden="true"></i> Địa chỉ: Quận 7, TP. Hồ Chí Minh</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
          © 2022 Copyright:
          <a class="text-white" href="home.html">svoairlines.com.vn</a>
        </div>
    </footer>
    </body>
  </html>