<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>FAQ</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/faq.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </head>
   <body>
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container-fluid">
          <a class="navbar-brand" href="home.html" style = "font-size: 30px;">SVO Airlines</a>
          <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="home.html"><i class="fa fa-home"></i> Trang chủ</a>
              </li>
              <li class="nav-item aria-current">
                <a class="nav-link" href="search_flight.html"> Chuyến bay</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="history.html">Tra cứu</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="login.html"><i class="fa fa-user-o" aria-hidden="true"></i> Đăng nhập</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="help.html"> Trợ giúp</a>
              </li>
            </ul>
          </div>
      </div>
    </nav> 
    <img src="./images/faq.jpg" alt="faq-banner" width="100%" class = "mb-5">
    <!-- <h1 class = "text-center mt-3 mb-3">Câu hỏi thường gặp</h1> -->
      <div class="container">
        <div class="row">
          <div class="faq-wrapper">
            <div class="header">
              <h4>Frequently Asked Questions</h4>
            </div>
            <div class="faq-inner">
              <div class="faq-item">
                <h6>
                  1. Tôi cần đến sân bay trước​ giờ khởi hành bao lâu?
                  <span class="faq-plus">&plus;</span>
                </h6>
                <div class="faq-body">
                  Để đảm bảo thời gian làm thủ tục chuyến bay và kiểm tra an ninh cũng như phòng trừ khả năng bị tắc đường, Quý khách nên tới sân bay ít nhất 90 phút trước chuyến bay nội địa, với các hành trình quốc tế, Quý khách nên đến sân bay trước 150 phút.
                </div>
              </div>
              <hr>
              <div class="faq-item">
                <h6>
                  2. Tôi có thể làm thủ tục chuyến bay trước khi cất cánh bao lâu?
                  <span class="faq-plus">&plus;</span>
                </h6>
                <div class="faq-body">
                  Thời gian mở quầy làm thủ tục hành khách tại mỗi sân bay khác nhau, tuy nhiên thường mở quầy để làm thủ tục hành khách như sau:
                  <br>
                  <b>Mở quầy</b> <br>
                  &nbsp; &nbsp;• Chuyến bay Quốc tế: trước giờ khởi hành 3 tiếng 30 phút.
                  <br>
                  &nbsp; &nbsp;• Chuyến bay Nội địa: trước giờ khởi hành 2 tiếng.
                  <br>
                  <b>Đóng quầy</b>
                  <br>
                  &nbsp; &nbsp;• Chuyến bay Quốc tế: trước giờ khởi hành 90 phút.
                  <br>
                  &nbsp; &nbsp;• Chuyến bay Nội địa: trước giờ khởi hành 60 phút.              </div>
              </div>
              <hr>
              <div class="faq-item">
                <h6>
                  3. Tôi đến muộn giờ và không kịp làm thủ tục. Tôi sẽ được giải quyết như thế nào?
                  <span class="faq-plus">&plus;</span>
                </h6>
                <div class="faq-body">
                  Nếu Quý khách đến muộn khi quầy làm thủ tục đã đóng chuyến bay, Quý khách sẽ không thể thực hiện chuyến bay đó. Tuỳ vào điều kiện vé, vé của Quý khách có thể không có giá trị để đi trên các chuyến bay thay thế khác hoặc Quý khách sẽ phải trả thêm tiền chênh lệch vé và/hoặc phí đổi vé để đổi vé mới.              </div>
              </div>
              <hr>
              <div class="faq-item">
                <h6>
                  4. Làm thủ tục chuyến bay (check-in) và làm thủ tục lên tàu (boarding) có gì khác nhau?                <span class="faq-plus">&plus;</span>
                </h6>
                <div class="faq-body">
                  Sau khi làm thủ tục chuyến bay, Quý khách được xác nhận thực hiện chuyến bay, gửi hành lý và nhận được Thẻ lên tàu. Thủ tục lên tàu là khi hành khách thực sự bước lên máy bay.
                  Do vậy, sau khi làm thủ tục chuyến bay, Quý khách lưu ý bố trí đủ thời gian thực hiện các thủ tục kiểm tra an ninh và xuất nhập cảnh và đảm bảo có mặt tại cửa lên máy bay đúng giờ.              </div>
              </div>
              <hr>
              <div class="faq-item">
                <h6>
                  5. Tôi đã làm thủ tục chuyến bay nhưng bị trễ giờ. Tôi sẽ được giải quyết như thế nào?
                  <span class="faq-plus">&plus;</span>
                </h6>
                <div class="faq-body">
                  Sau khi làm thủ tục chuyến bay, Quý khách được xác nhận thực hiện chuyến bay, gửi hành lý và nhận được Thẻ lên tàu. Thủ tục lên tàu là khi hành khách thực sự bước lên máy bay.
                  Do vậy, sau khi làm thủ tục chuyến bay, Quý khách lưu ý bố trí đủ thời gian thực hiện các thủ tục kiểm tra an ninh và xuất nhập cảnh và đảm bảo có mặt tại cửa lên máy bay đúng giờ.              </div>
              </div>
              <hr>
              <div class="faq-item">
                <h6>
                  6. Mua vé rồi nếu không đi thì có được trả vé hoặc đổi tên không?                <span class="faq-plus">&plus;</span>
                </h6>
                <div class="faq-body">
                  Vì lý do an ninh hàng không nên SVO và các hãng hàng không quốc tế không cho phép đổi tên hành khách. Trong trường hơp này có một cách là bạn hoàn vé đó và mua một vé mới với điều kiện là vé bạn không thuộc vé khuyến mãi.            </div>
                </div>
              <hr>
              <div class="faq-item">
                <h6>
                  7. Tôi có thể tạo đặt chỗ trên internet không?       <span class="faq-plus">&plus;</span>       </h6>
                <div class="faq-body">
                  Có, có thể đặt trực tiếp trên <a href="home.html">svoairplane.com</a>. Đặt chỗ theo kiểu này có nghĩa là bạn sẽ cần phải cung cấp tên và thanh toán trước.              </div> 
              </div>
              <hr>
              <div class="faq-item">
                <h6>
                  8. Có được mang chất lỏng lên máy bay không?       <span class="faq-plus">&plus;</span>       </h6>
                <div class="faq-body">
                  Đối với chuyến bay nội địa hay quốc tế, hành khách hoàn toàn có thể mang chất lỏng với yêu cầu như sau:
                  <br> 
                  &nbsp; &nbsp;- Chất lỏng được gói gọn trong bao bì có thể tích tối đa 100ml hoặc trọng lượng tối đa 100g. <br>
                  &nbsp; &nbsp;- Túi đựng được dán kín kỹ càng, kích thước không vượt hơn 80cm. <br>
                  &nbsp; &nbsp;- Mỗi du khách bắt buộc được mang theo một túi đựng chất lỏng, ngoài trường hợp người chăm sóc có thể mang thêm phần của người được chăm sóc. <br>
                  &nbsp; &nbsp;- Sữa tươi, đồ ăn, thuốc theo chế độ đặc biệt đều được mang theo không giới hạn.            </div>
              </div>
              <hr>
              <div class="faq-item">
                <h6>
                  9. Mua vé trực tiếp của hãng hàng không hay mua qua đại lý có lợi hơn?       <span class="faq-plus">&plus;</span>       </h6>
                <div class="faq-body">
                  <b>- Đặt mua vé máy bay:</b>
                  <br>
                  &nbsp; &nbsp;* Trực tiếp: Khách hàng đến trực tiếp tại phòng vé SVO Airlines để mua và thanh toán
                  <br>
                  &nbsp; &nbsp;* Qua điện thoại: Chỉ cần gọi điện thoại khách hàng đã có thể đặt mua vé máy bay theo nhu cầu. Việc thanh toán diễn ra khi khách hàng nhận được vé.
                  <br>
                  &nbsp; &nbsp;Nếu khách hàng ở xa không tiện cho việc đi lại, phòng vé sẽ thông báo code cho khách hàng qua tin nhắn điện thoại hoặc email, khách hàng chỉ cần nhớ code để làm thủ tục khi ra sân bay.
                  <br>
                  &nbsp; &nbsp;Ưu điểm: của bạn khi đặt qua phòng vé SVO Airlines đó là giá rẻ và mỗi khi bạn đổi vé hay muốn mua thêm hành lý thì bạn sẽ được hỗ trợ mọi lúc, không phải đợi chờ mỗi khi điện thoại lên tổng đài của hãng hàng không để đổi vé hay mua thêm hành lý.
                  <br>
                  <b>- Đặt mua vé máy bay trực tuyến:</b>
                  <br>
                  &nbsp; &nbsp;Khách hàng đặt vé trên trang thông tin chính thức của hãng hàng không mình muốn bay hoặc là đặt mua vé              </div>
              </div>  
              <hr>
              <div class="faq-item">
                <h6>
                  10. Bao nhiêu hành khách thì được đặt chỗ khách đoàn?      <span class="faq-plus">&plus;</span>       </h6>
                <div class="faq-body">
                  Đối với chuyến bay nội địa hay quốc tế, hành khách hoàn toàn có thể mang chất lỏng với yêu cầu như sau:
                  <br> 
                  Để đạt điều kiện hưởng đặt chỗ khách đoàn thì phải có tối thiểu 10 hành khách bay trên cùng một chuyến bay.              </div>
              </div>
            </div>
          </div>
        </div>  
      </div>
      <footer class="bg-dark text-center text-lg-start text-white mt-5">
        <div class="container p-4">
          <div class="row">
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
              <h6 class="text-uppercase">về chúng tôi</h6>
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="aboutus.html" class="text-white">Tập đoàn</a>
                </li>
                <li>
                  <a href="aboutus.html" class="text-white">Đội bay</a>
                </li>
                <li>
                  <a href="aboutus.html" class="text-white">Cam kết với khách hàng</a>
                </li>
                <li>
                  <a href="aboutus.html" class="text-white">Các điều kiện và điều khoản</a>
                </li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
              <h6 class="text-uppercase">Sản phẩm</h6>
    
              <ul class="list-unstyled">
                <li>
                  <i class="fa fa-ticket" aria-hidden="true"></i><a href="search_flight.html" class="text-white"> Vé máy bay</a>
                </li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
              <h6 class="text-uppercase">Đối tác thanh toán</h6>
              <ul class="list-unstyled">
                <li>
                    <div>
                      VISA
                  </a>
                </li>
                <li>
                    <div>
                      MASTERCARD
                    </div>
                </li>
                <li>
                    <div>
                      MOMO
                    </div>
                </li>
                <li>
                    <div>
                      ZALOPAY
                    </div>
                </li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
              <h6 class="text-uppercase">liên hệ</h6>    
              <ul class="list-unstyled">
                <li>
                  <p class="text-white"><i class="fa fa-phone" aria-hidden="true"></i> SDT: 0909.291.291</p>
                </li>
                <li>
                  <p class="text-white"><i class="fa fa-location-arrow" aria-hidden="true"></i> Email: svoairlines@gmail.com</p>
                </li>
                <li>
                  <p class="text-white"><i class="fa fa-map-marker" aria-hidden="true"></i> Địa chỉ: Quận 7, TP. Hồ Chí Minh</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
          © 2022 Copyright:
          <a class="text-white" href="home.html">svoairlines.com.vn</a>
        </div>
    </footer>
    <script type="text/javascript">
      $(".faq-item").on('click',function(){
          $(this).find('.faq-body').slideToggle();
      });
      $(".faq-plus").on('click',function(){
         $(this).parent().find('.faq-body').slideToggle();
      });   
    </script>
    </body>
</html>