<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel='stylesheet' href='/stylesheets/login_register.css' />
</head>

<body>
    <div class="container" id="container">
        <div class="form-container login-container">
            <form action="#">
                <h1>Đăng nhập</h1> <input type="email" placeholder="Email">
                <input type="password" placeholder="Password">
                <div class="content">
                    <div class="pass-link">
                        <a href="#">Quên mật khẩu?</a>
                    </div>
                </div>
                <button>Đăng nhập</button>
                <a href="#">Tạo tài khoản</a>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-right">
                </div>
            </div>
        </div>
    </div>
</body>

</html>