<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Home</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href='/stylesheets/search_flight.css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>

  <br>

  <div class="progressbar-wrapper">
    <ul class="progressbar">
      <li class="active">Chuyến bay</li>
      <li>Hành lý</li>
      <li>Chổ ngồi</li>
      <li>Điền thông tin & thanh toán</li>
    </ul>
  </div>

  <h1>Chọn vé máy bay</h1>

  <div class="container mt-5">
    <div class="card w-50 mx-auto searchCard">
      <div class="header">VÉ MÁY BAY</div>
      <div class="card-body radio">
        <div class="row mt-3">
        </div>
        <div class="row mt-3 mb-2">
          <div class="col-lg-6">
            <label for="diemdi">Điểm đi:</label>
            <select class="form-select mt-2  " name="diemdi" aria-label="Default select example" id="startLocationSelect">
              <option selected></option>
            </select>
          </div>
          <div class="col-lg-6">
            <label for="diemdi">Điểm đến:</label>
            <select class="form-select mt-2" name="diemden" aria-label="Default select example" id="arriveLocationSelect">
              <option selected></option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            &nbsp;Chọn ngày đi: &nbsp;
            <input type="date" id="startDateInput" class="w-50 input-qty" >
          </div>
          <div class="col-lg-6">
            &nbsp;Chọn ngày về: &nbsp;
            <input type="date" id="endDateInput" class="w-50 input-qty">
          </div>
        </div>
      </div>
      <button id="searchButton" class="btnHover btn text-white mx-auto mb-3" href="search_flight.html"><i
          class="fa fa-search fa-1x" aria-hidden="true">&nbsp;</i> Tìm chuyến bay</i></button>
    </div>
  </div>



  

  <div class="container">
    <div class="section2">
      <div class="content">
        <div class="left">
          <div class="card">
            <div class="card-body">
              <span class="fitter">Bộ lọc</span>
              <span class="remove-fitter">Xóa lọc</span>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <h6>Hạng chuyến bay</h6>
                  <div>
                    <input type="checkbox" class="check-btn" name="flight-class[]" id="flight-class"
                      value="Phổ thông"></input><span class="text">Phổ thông</span><br>
                  </div>
                  <div>
                    <input type="checkbox" class="check-btn" name="flight-class[]" id="flight-class"
                      value="Thương gia"></input><span class="text">Thương gia</span>
                  </div>
                </li>
                <li class="list-group-item">
                  <h6>Thời gian</h6>
                  <span>Giờ khởi hành</span>
                  <div>
                    <input type="checkbox" class="check-btn" name="departure-time[]" id="departure-time"
                      value="0-6"></input><span class="text">00:00-06:00</span><br>
                  </div>
                  <div>
                    <input type="checkbox" class="check-btn" name="departure-time[]" id="departure-time"
                      value="0-12"></input><span class="text">06:00-12:00</span>
                  </div>
                  <div>
                    <input type="checkbox" class="check-btn" name="departure-time[]" id="departure-time"
                      value="12-18"></input><span class="text">12:00-18:00</span>
                  </div>
                  <div>
                    <input type="checkbox" class="check-btn" name="departure-time[]" id="departure-time"
                      value="18-24"></input><span class="text">18:00-24:00</span>
                  </div>
                  <br>
                  <span>Giờ đến</span>
                  <div>
                    <input type="checkbox" class="check-btn" name="arrival-time[]" id="arrival-time"
                      value="0-6"></input><span class="text">00:00-06:00</span><br>
                  </div>
                  <div>
                    <input type="checkbox" class="check-btn" name="arrival-time[]" id="arrival-time"
                      value="0-12"></input><span class="text">06:00-12:00</span>
                  </div>
                  <div>
                    <input type="checkbox" class="check-btn" name="arrival-time[]" id="arrival-time"
                      value="12-18"></input><span class="text">12:00-18:00</span>
                  </div>
                  <div>
                    <input type="checkbox" class="check-btn" name="arrival-time[]" id="arrival-time"
                      value="18-24"></input><span class="text">18:00-24:00</span>
                  </div>
                </li>
              </ul>
              <button class="btn-filter">Lọc</button>
            </div>
          </div>
        </div>

        <div class="right">

        </div>
      </div>
    </div>
  </div>


  <div class="modal" id="seedetail">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Hồ Chí Minh (SGN) - Đà Nẵng (DAD)</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <div style="margin-top: 70px;" class="time-inf">
            <span class="fa fa-plane" aria-hidden="true">5:20</span>
            <p>Thứ 5, 20/04/2023</p>                    
              <p class="dot"></p>
              <p class="dot"></p>
              <p class="dot"></p>
            <span span class="fa fa-fighter-jet" aria-hidden="true">7:20</span>
            <p>Thứ 5, 20/04/2023</p>
          </div>
          <div class="place-inf">

            <span>Chuyến bay: VJ199</span>
            <p>Loại máy bay: Airbus A321</p>

             <span>Hà Nội (HAN)</span>
             <p style="margin-bottom: 100px;">Sân bay Nội Bài</p>

             <span>Hồ Chí Minh (SGN)</span>
             <p>Sân bay Tân Sơn Nhất</p>

            
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
          <a href="signedluggage.html" class="btn-book-ticket btn btn-success">Chọn vé</a>
        </div>
      </div>
    </div>
  </div>




</body>

{{!-- <script>
  $(document).ready(function () {
    $("#myCarousel").carousel();
  });


// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}

</script> --}}
<script src="/javascripts/search_flight.js"></script>

</html>