<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href='/stylesheets/signedluggage.css' />
    <link
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'
    />
    <link
      href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css'
      rel='stylesheet'
    />
    <script
      src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js'
    ></script>
  </head>

  <body>
    <br />

    <div class='progressbar-wrapper'>
      <ul class='progressbar'>
        <li class='active'>Chuyến bay</li>
        <li class='active'>Hành lý</li>
        <li>Chổ ngồi</li>
        <li>Điền thông tin & thanh toán</li>
      </ul>
    </div>

    <h1>Hành lý</h1>
    <p class='baggage-inf'>Giá vé của bạn bao gồm hai kiện hành lý xách tay, với
      tổng trọng lượng là 7kg</p>
    <div class='baggage-btn'><i
        class='fa fa-info-circle fa-2x'
        aria-hidden='true'
      ></i>
      Chúng tôi chọn trước 25kg hành lý ký gửi cho bạn - lựa chọn khuyến nghị
      cho các chuyến đi đến điểm đến này. Thoải mái điều chỉnh hoặc loại bỏ</div>
    <div class='baggage'>
      <h2>Chuyến bay đi - đến</h2>
      <span><i class='fa fa-plane'></i>
        <b>Tp. Hồ Chí Minh -> Đà Nẵng </b>
        –Thứ Bảy 24 Tháng Mười Hai 2022</span><br /><br /><br />
      <h2>Hành lý ký gửi</h2>
      <span>Quý khách làm thủ tục cho hành lý ký gửi trước khi đến cổng và sẽ
        không thể mang hành lý ký gửi lên máy bay.</span><br />
    </div>

    <div class='container mt-3'>
      <div class='row'>
        <div class='col-lg-2'>
          <label>
            <input
              type='radio'
              id='luggage'
              name='luggage'
              value='0'
              class='card-input-element'
            />
            <div class='card card-default card-input'>
              <div class='card-body'>
                <img src='images/no_luggage.png' height='50%' width='50%' /><br
                />
                <span class='weight-luggage'>0 kg</span><br />
                <span class='price-luggage'>0 VNĐ</span>
              </div>
            </div>
          </label>
        </div>
        <div class='col-lg-2'>
          <label>
            <input
              type='radio'
              id='luggage'
              name='luggage'
              value='500000'
              class='card-input-element'
            />
            <div class='card card-default card-input'>
              <div class='card-body'>
                <img
                  src='images/icon_20kg_luggage.png'
                  height='50%'
                  width='50%'
                /><br />
                <span class='weight-luggage'>20 kg</span><br />
                <span class='price-luggage'>500.000 VNĐ</span>
              </div>
            </div>
          </label>
        </div>
        <div class='col-lg-2'>
          <label>
            <input
              type='radio'
              id='luggage'
              name='luggage'
              value='750000'
              class='card-input-element'
            />
            <div class='card card-default card-input'>
              <div class='card-body'>
                <img
                  src='images/icon_25kg_luggage.png'
                  height='50%'
                  width='50%'
                /><br />
                <span class='weight-luggage'>25 kg</span><br />
                <span class='price-luggage'>750.000 VNĐ</span>
              </div>
            </div>
          </label>
        </div>
        <div class='col-lg-2'>
          <label>
            <input
              type='radio'
              id='luggage'
              name='luggage'
              value='900000'
              class='card-input-element'
            />
            <div class='card card-default card-input'>
              <div class='card-body'>
                <img
                  src='images/icon_30kg_luggage.png'
                  height='50%'
                  width='50%'
                /><br />
                <span class='weight-luggage'>30 kg</span><br />
                <span class='price-luggage'>900.000 VNĐ</span>
              </div>
            </div>
          </label>
        </div>
        <div class='col-lg-2'>
          <label>
            <input
              type='radio'
              id='luggage'
              name='luggage'
              value='1000000'
              class='card-input-element'
            />
            <div class='card card-default card-input'>
              <div class='card-body' style='text-align: center;'>
                <img
                  src='images/icon_35-40kg_luggage.png'
                  height='50%'
                  width='50%'
                /><br />
                <span class='weight-luggage'>35 kg</span><br />
                <span class='price-luggage'>1.000.000 VNĐ</span>
              </div>
            </div>
          </label>
        </div>
        <div class='col-lg-2'>
          <label>
            <input
              type='radio'
              id='luggage'
              name='luggage'
              value='1200000'
              class='card-input-element'
            />
            <div class='card card-default card-input'>
              <div class='card-body'>
                <img
                  src='images/icon_35-40kg_luggage.png'
                  height='50%'
                  width='50%'
                /><br />
                <span class='weight-luggage'>40 kg</span><br />
                <span class='price-luggage'>1.200.000 VNĐ</span>
              </div>
            </div>
          </label>
        </div>
        <div class='card' style='margin-top: 70px;'>
          <div class='card-body'>
            <button class='btn-continue'>Tiếp tục</button>
            <span class='price'>1.150.000 VNĐ</span>
          </div>
        </div>
      </div>
    </div>
    <script src='/javascripts/signedluggage.js'></script>
  </body>

</html>