@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  font-family: 'Montserrat';
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

#sidebar-toggle {
  display: none;
}

.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  background: var(--main-color);
  color: #fff;
  overflow-y: auto;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0rem 1rem;
}

.menu-items {
  display: table-cell;
  vertical-align: middle;
  width: 250px;
  color: #fff;
  font-size: 0.8rem;
  height: 40px;
  padding-left: 1rem;
}

.sidebar div span:last-child {
  padding-left: 0.6rem;
}

#sidebar-toggle:checked ~ .sidebar {
  width: 60px;
}

#sidebar-toggle:checked ~ .sidebar .sidebar-header h3 span ,
#sidebar-toggle:checked ~ .sidebar li span:last-child {
  display: none;
}

#sidebar-toggle:checked ~ .sidebar li span:first-child{
  padding-left: 0.4rem;
  display: table-cell;
  vertical-align: middle;
  width: 60px;
  color: #fff;
  font-size: 0.8rem;
  height: 40px;
}

#sidebar-toggle:checked ~ .sidebar .sidebar-header,
#sidebar-toggle:checked ~ .sidebar li {
  display: flex;
  justify-content: center;
}

#sidebar-toggle:checked ~ .main-content {
  margin-left: 60px;
}

#sidebar-toggle:checked ~ .main-content header {
  left: 60px;
  width: calc(100% - 60px);
}

.main-content {
  position: relative;
  margin-left: 240px;
  transition: margin-left 500ms;
}

header {
  position: fixed;
  left: 250px;
  top: 0;
  z-index: 100;
  width: calc(100% - 240px);
  background: #fff;
  height: 60px;
  padding: 0rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}

.search-wrapper {
  display: flex;
  align-items: center;
}

.search-wrapper input {
  border: 0;
  outline: 0;
  padding: 1rem;
  height: 38px;
}

.social-icons {
  display: flex;
  align-items: center;
}

.social-icons strong,
.social-icons div {
  margin-left: 0.8rem;
}

.social-icons div {
  height: 38px;
  width: 38px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(/images/admin_avatar.png);
  border-radius: 50%;
}

main {
  background: #f1f5f9;
  height: 100%;
  padding: 1rem 3rem;
}

.dash-title {
  margin-top: 90px;
  color: var(--color-dark);
  margin-bottom: 1rem;
}

.dash-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 3rem;
}

.card-single {
  background: #fff;
  border-radius: 7px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  margin-top: 40px;
}

.card-body {
  padding: 1.3rem 1rem;
  display: flex;
  align-items: center;
}

.card-body span {
  font-size: 1.5rem;
  color: #777;
  padding-right: 1.4rem;
}

.card-body h3 {
  color: var(--color-dark);
  font-size: 1.1rem;
}

.card-body h5 {
  color: var(--text-grey);
  font-size: 1rem;
  margin-top: 0.2rem;
}

.card-footer {
  padding: 0px 0px 10px 20px;
  background: #f9fafc;
}

.card-footer div {
  cursor: pointer;
  width: fit-content;
  color: var(--main-color);
}

.btn-add {
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
  color: white;
  background-color: #047683;
  margin-left: 40px;
  cursor: pointer;
}

.title-container {
  display: flex;
  margin-top: 90px;
}

table {
  border-collapse: collapse;
  width: 98.5%;
  margin-top: 20px;
}

.airlines_table tr:first-child{
  background-color: var(--main-color);
}

td {
  border-top: 1px solid #bdb7b73d;
  padding: 5px;
  text-align: center;
}

th {
  color: white;
  padding: 10px;
}

.btn-view {
  color: white;
  border: none;
  width: 42px;
  height: 41px;
  border-radius: 10px;
  background-color: #28a745;
  cursor: pointer;
}

.btn-edit {
  color: white;
  border: none;
  width: 42px;
  height: 41px;
  border-radius: 10px;
  background-color: #007bff;
  cursor: pointer;
}

.btn-delete {
  color: white;
  border: none;
  width: 42px;
  height: 41px;
  border-radius: 10px;
  background-color: #dc3545;
  cursor: pointer;
}

/* Thêm chuyến bay */

#add-flight-form, #update-flight-form {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.5s ease-in-out;
}

#add-flight-form.show, #update-flight-form.show {
  display: block;
}

.title-header-form {
  margin-bottom: 70px;
  display: flex;
  justify-content: space-between;
}

.form-close {
  width: 15px;
  opacity: 0.3;
  cursor: pointer;
}
.form-close:hover {
  opacity: 1;
}
.form-close:before, .form-close:after {
  position: absolute;
  content: ' ';
  height: 27px;
  width: 2px;
  background-color: #333;
}
.form-close:before {
  transform: rotate(45deg);
}
.form-close:after {
  transform: rotate(-45deg);
}

form {
  background-color: #fff;
  width: 50%;
  height: 100%;
  padding: 20px;
  float: right;
  transform: translateX(100%); /* Di chuyển form sang bên phải */
  transition: all 0.5s ease-in-out;
}
form.show {
  transform: translateX(0); /* Di chuyển form về vị trí ban đầu */
}

.label-toggle {
  cursor: pointer;
  font-size: 18px;
  display: block;
  margin-bottom: 5px;
}

.label-input {
  font-size: 20px;
  display: block;
  margin-bottom: 5px;
}

input[type='text'],
input[type='date'],
input[type='time'],
input[type='number'] {
  height: 50%;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}
input:focus {
  outline: none;
}

.btn-submit-add {
  width: 30%;
  background-color: #047683;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  margin-top: 30px;
  float: right;
}

.btn-submit-add:hover {
  background-color: #fff;
  color: #047683;
  transition: all 0.3s ease-in-out;
  border: 1px solid #047683;
}

.btn-submit-update {
  width: 30%;
  background-color: #047683;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  margin-top: 30px;
  float: right;
}

.btn-submit-update:hover {
  background-color: #fff;
  color: #047683;
  transition: all 0.3s ease-in-out;
  border: 1px solid #047683;
}

/* Xem thông tin chi tiết chuyến bay */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.4);
}

.overlay.show {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog {
  background-color: #fff;
  width: 450px;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  transform: translateY(-100%);
  transition: transform 0.8s ease-in-out;
}

.dialog.show {
  transform: translateY(0);
}

.dialog h2 {
  font-size: 22px;
  margin: 0 0 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input[type='text'],
.form-group input[type='date'],
.form-group input[type='time'],
.form-group input[type='number'] {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f2f2f2;
}

.form-group input[type='text'][disabled],
.form-group input[type='date'][disabled],
.form-group input[type='time'][disabled],
.form-group input[type='number'][disabled] {
  background-color: transparent;
  color: #555;
  font-style: italic;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #aaa;
  padding: 0;
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.close:hover {
  color: #555;
}

@media screen and (max-width: 500px) {
  .dialog {
    width: 90%;
  }
}

.menu-items {
  cursor: pointer;
}

.menu-items:hover{
  background-color: #0097a8;
}

.menu-items.active{
  background-color: #0097a8;
}

.container-group-2{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.container-group-2 div{
  width: 47.5%;
}

/* Chỉnh sửa thông tin chuyến bay */
